<!DOCTYPE html>
<html>
  <head>
    <title>Capture the Flag</title>
    <base href="/" target="_blank">
    <%= csrf_meta_tags %>

    <script src="jquery-3.3.1.min.js"></script><!-- CONTAINED IN PUBLIC DIRECTORY -->
    <script src="crafty-min.js"></script><!-- CONTAINED IN PUBLIC DIRECTORY -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <%= javascript_include_tag 'canvas', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'game', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'gameObjects', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onresize="resizeCanvas()">
    <%= yield %>
  </body>
</html>
<!--  -->
